@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer utilities {
  .hero-bg {
    @apply absolute h-screen w-screen bg-hero bg-cover bg-center;
  }

  .margin-auto {
    @apply mx-auto w-[80%];
  }
}
